body {
    font-family: 'Montserrat', sans-serif;
}

.userinfo {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pending-status-indicator {
    width: 35px;
    height: 35px;
    background-color: yellow;
    position: absolute;
    right: 25px;
    bottom: 10px;
    border-radius: 50%;
    border: 3px solid #000;
}

.card-img-top {
    border-radius: 50%;
}

.userinfo {
    background: none;
    border: none;
}

.avatar {
    height: 300px;
    width: auto;
}

.test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}