    <section class="container">
        <div class="row">
            {{#each data as |txt|}}

            <div class="xyz mt-4 col-md-2">
                <button type="button" class=" userinfo" data-bs-toggle="modal" onmousedown="party.confetti(this)"
                    data-bs-target="#exampleModal" id="{{txt.id}}">
                    <img class="card-img-top" draggable="false" src="/images/002.jpg">
                    {{!-- {{txt.name}} --}}
                </button>
            </div>

            {{/each}}
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Fresher's Day 2021</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">

                            <img class="col-md-6 avatar py-3" src="/images/man.png">
                            <div class="col-md-6 mt-5" style="text-align: center;">
                                <h3 class="">Ashwin Varghese Antony</h3>
                                <h6 class="">Code Name : <span>മുള്ളൻ ചന്ദ്രപ്പൻ</span></h6>
                                <h5 class="pt-5">Task : <span>Music with Body Muscles</span></h5>
                                <p class="">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Task Pending</button>
                        <button type="button" class="btn btn-success">Task Completed</button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>
        document.querySelector(".button").addEventListener("click", function (e) {
            party.confetti(this);
        });
    </script>

    <style>
        .card-img-top {
            border-radius: 50%;
        }

        .userinfo {
            background: none;
            border: none;
        }

        .avatar {
            height: 300px;
            width: auto;
        }
    </style>