    <section class="container">
        <div class="row">
            {{#each data as |txt|}}
            <div class="mt-4 col-md-2">
                <img class="card-img-top" src="/images/{{txt.image}}">
            </div>
            {{/each}}
        </div>
    </section>